.my_masonry_grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  width: auto;
}
.my_masonry_grid_column {
  padding-left: 15px;
}

.my_masonry_grid_column > div {
  vertical-align: top;
  margin-bottom: 15px;
}

.my_masonry_grid_column > div:last-child {
  margin-bottom: 0;
}

.my_masonry_grid_column > div > img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.content_span_likes {
  display: flex;
  align-items: center;
}
.content_chip {
  margin-bottom: 5px;
  margin-top: 5px;
}
